In [ ]:
https://origin.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/detrend.nino34.ascii.txt

In [5]:
import pandas as pd

# URL of the dataset
url = "https://origin.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/detrend.nino34.ascii.txt"

# Load the dataset into a pandas DataFrame
df = pd.read_csv(url, delim_whitespace=True)

# Display the first few rows of the DataFrame
print(df.head())

     YR  MON  TOTAL  ClimAdjust  ANOM
0  1950    1  24.56       26.18 -1.62
1  1950    2  25.07       26.39 -1.32
2  1950    3  25.88       26.95 -1.07
3  1950    4  26.29       27.39 -1.11
4  1950    5  26.19       27.56 -1.37

In [6]:
df.head()

     YR  MON  TOTAL  ClimAdjust  ANOM
0  1950    1  24.56       26.18 -1.62
1  1950    2  25.07       26.39 -1.32
2  1950    3  25.88       26.95 -1.07
3  1950    4  26.29       27.39 -1.11
4  1950    5  26.19       27.56 -1.37

In [7]:
csv = '../../datasets/csv/enso_data.csv'
df.to_csv(csv, index=False)